@font-face {
  font-family: 'SignikaSemibold';
  src: url('Signika-Semibold-webfont.eot');
  src: url('Signika-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('Signika-Semibold-webfont.woff') format('woff'),
       url('Signika-Semibold-webfont.ttf') format('truetype'),
       url('Signika-Semibold-webfont.svg#SignikaSemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

body
{
	background: #d0d0d0;
}

div#noscript
{
  visibility: hidden;
}

div#content
{
  color: transparent;
  text-align: center;
  border: 5px solid #d0d0d0;
  margin: 25 0 25 0;
  display: inline-block;
  text-shadow: 0 0 4px transparent,
               0 1px 0 transparent;
  -webkit-transition: color 1s linear, text-shadow 1s linear;
  font: 300% SignikaSemibold, sans-serif;
}

div.opaque
{
  opacity: 1;
  color: #2f2f2f;
  text-shadow: 0 0 4px #949494,
               0 1px 0 #ffffff;
}

div.small
{
  font-size: 40%;
}

div#content:hover
{
  color: #2f2f2f;
  text-shadow: 0 0 4px #949494,
               0 1px 0 #ffffff;
}

::selection
{
  background: #aaa;
}