<html>
<head>
  <link rel="stylesheet" type="text/css" href="styles/style.css">
  <link rel="stylesheet/less" type="text/css" href="styles/style.less">
  <script src="scripts/less.js" type="text/javascript"></script>
  <script src="scripts/strings.js" type="text/javascript"></script>
</head>
<body onload="repl()">
<noscript>
  <div id="noscript">YOU SHOULD ENABLE JAVASCIRPT, BRO</div>
</noscript>
  <div style="width: 100%; text-align: center;">
    <div id="content">
      <div id="opaque">Incremental Evolution</div>
      <div id="small"></div>
    </div>
  </div>
  {{ content }}
</body>
</html>